.fade-enter-active,
.fade-leave-active {
  transition: opacity .1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}



.fade-3-enter-active,
.fade-3-leave-active {
  transition: opacity .3s ease;
}

.fade-3-enter-from,
.fade-3-leave-to {
  opacity: 0;
}



.fade_long-enter-active,
.fade_long-leave-active {
  transition: opacity .2s ease;
}

.fade_long-enter-from,
.fade_long-leave-to {
  opacity: 0;
}



.product_fade-enter-active,
.product_fade-leave-active {
  transition: opacity .15s ease-out;
}

.product_fade-enter-from,
.product_fade-leave-to {
  opacity: 0;
}